.premium-navbar{
background:rgba(255,255,255,0.92);
backdrop-filter:blur(10px);
border-bottom:1px solid rgba(0,0,0,0.05);
padding:12px 0;
position:fixed !important;
top:0;
left :0;
width:100%;
z-index:1050 ;
}

body.dark .premium-navbar{
background:rgba(20,20,20,0.9);
}

.logo-img{
transition:transform .3s ease;
}

.logo-img:hover{
transform:rotate(-10deg) scale(1.1);
}

.brand-text{
font-weight:700;
font-size:20px;
margin-left:8px;
color:#ff5a1f;
}

/* NAV LINKS */

.nav-links .nav-link{
margin:0 12px;
font-weight:600;
color:#444;
position:relative;
}

body.dark .nav-links .nav-link{
color:#ddd;
}

.nav-links .nav-link:hover{
color:#ff5a1f;
}

/* ACTIVE DESKTOP */

.active-link{
color:#ff5a1f !important;
font-weight:600;
}

.active-link::after{
content:"";
position:absolute;
left:20%;
bottom:-6px;
width:60%;
height:2px;
background:#ff5a1f;
}

/* CART */

.cart-container{
position:relative;
cursor:pointer;
}

.cart-container img{
transition:transform .2s ease;
}

.cart-container:hover img{
transform:scale(1.1);
}

.cart-badge{
position:absolute;
top:-6px;
right:-8px;
background:#ff5a1f;
color:white;
font-size:10px;
padding:3px 6px;
border-radius:50%;
}

/* BUTTONS */

.login-btn{
background:linear-gradient(135deg,#2b2b2b,#4b4b4b);
color:white;
border:none;
border-radius:25px !important;
padding:6px 20px !important;
font-weight:600;
transition:all .25s ease;
}

.login-btn:hover{
transform:scale(1.05);
box-shadow:0 8px 20px rgba(0,0,0,0.25);
}

.register-btn{
background:linear-gradient(135deg,#ff7a18,#ff3d2f);
color:white;
border:none;
border-radius:25px !important;
padding:6px 20px !important;
font-weight:600;
transition:all .25s ease;
}

.register-btn:hover{
transform:scale(1.05);
box-shadow:0 8px 20px rgba(255,90,31,0.35);
}

/* THEME */

.theme-toggle-btn{
border:none;
background:transparent;
font-size:20px;
cursor:pointer;
}

/* HAMBURGER */

.navbar-toggler{
border:none;
}

.navbar-toggler-icon{
filter:invert(0);
}

body.dark .navbar-toggler-icon{
filter:invert(1);
}

/* HEADER MOBILE */

.mobile-header{
display:none;
align-items:center;
gap:14px;
margin-left:auto;
}

/* ACTIONS */

.nav-actions{
display:flex;
align-items:center;
gap:14px;
}

/* MOBILE */

@media (max-width:991px){

.mobile-header{
display:flex;
}

.desktop-theme{
display:none;
}

.nav-actions{
flex-direction:column;
align-items:flex-start;
margin-top:10px;
}

.nav-links{
flex-direction:column;
}

.active-link::after{
display:none;
}

.active-link{
position:relative;
padding-left:40px; /* pushes text right */
}

.active-link::before{
content:"";
position:absolute;
left:-7px; /* keeps bar left */
top:50%;
transform:translateY(-50%);
width:4px;
height:60%;
background:#ff5a1f;
border-radius:3px;
}

}