/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* RESET */
* {
  box-sizing: border-box;
}

/* SMOOTH THEME TRANSITION */
* {
  transition: background 0.25s ease, color 0.25s ease;
}