.header {
    padding: 5rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    margin-top: 0.25rem;
    color: white;
    background-image: url("../../assets/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  