/* PAGE CONTAINER */

.home-container{
  padding-top:20px;
}

/* SECTION SPACING */

.home-section{
  margin-bottom:60px;
}

/* HEADER SPECIAL SPACING */

.header-section{
  margin-bottom:70px;
}

/* FADE ANIMATION */

.fade-up{
  opacity:0;
  transform:translateY(40px);
  animation:fadeUp .8s ease forwards;
}

.delay-1{
  animation-delay:.2s;
}

.delay-2{
  animation-delay:.4s;
}

/* ANIMATION */

@keyframes fadeUp{

  from{
    opacity:0;
    transform:translateY(40px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}