@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* LIGHT MODE */

body.light{
  background:#ffffff;
  color:#222;
}

/* DARK MODE */

body.dark{
  background:#121212;
  color:#f5f5f5;
}

/* NAVBAR DARK */

body.dark .premium-navbar{
  background:rgba(25,25,25,0.95);
  border-bottom:1px solid rgba(255,255,255,0.08);
}

/* LINKS */

body.dark .nav-links .nav-link{
  color:#ddd;
}

body.dark .nav-links .nav-link:hover{
  color:#ff7a18;
}

/* DROPDOWN */

body.dark .dropdown-menu{
  background:#1e1e1e;
  color:#fff;
}

/* CARD STYLE */

body.dark .card{
  background:#1e1e1e;
  color:#eee;
}